<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBX_eJf_VHx5AXbZkdQFYZ8xWDDBaVXzio</string>
	<key>GCM_SENDER_ID</key>
	<string>360739325109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eishoncorp.cfeMobile</string>
	<key>PROJECT_ID</key>
	<string>cfe-teit</string>
	<key>STORAGE_BUCKET</key>
	<string>cfe-teit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360739325109:ios:126def266a78660ef7aafc</string>
</dict>
</plist>